extends layout

block content
    form.form-horizontal(method="post")
        fieldset
            legend 用户登录
            .control-group
                label.control-label(for='username') 用户名
                .controls
                    input.input-xlarge#username(type='text', name='username')
            .control-group
                label.control-label(for='password') 密码
                .controls
                    input.input-xlarge#password(type='text', name='password')
            .form-actions
                button.btn.btn-primary(type="submit") 登录
